<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form #form="ngForm">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Código de Barras</label>
                    <input type="text" class="form-control" placeholder="código de barras" name="codeB" #codeB="ngModel" [(ngModel)]="code" required>
                    <div *ngIf="codeB['errors']?.required && codeB.touched" class="invalid" (keyup.enter)="add()">
                        Ingresar código de barras</div>
                </div>
                <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Agregar</button>
            </div>
        </form>
    </div>
</div>
<div class="m-5"></div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table table-hover">
            <thead class="table-info">
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Total</th>
                    <td><img src="assets/img/delete-all.svg" width="35" (click)="deleteAll()"></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let article of shoppingCart; let index = index">
                    <td>{{article.code}}</td>
                    <td>{{article.name}}</td>
                    <td>{{article.price}}</td>
                    <td><input class="form-control" type="number" min="0" #quantity="ngModel" [(ngModel)]="article.quantity"></td>
                    <td>{{article.price * article.quantity}}</td>
                    <td><img src="assets/img/delete.svg " width="28 " (click)="deleteOne(index) "></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="table-danger">Total</td>
                    <td class="table-active" colspan="2"><b>{{totalShopping}}</b></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>